* {
     box-sizing: border-box;
     margin: 0;
     font-family: "Work Sans", sans-serif;
		 font-weight: 400;
}
 body {
     font-size: 1rem;
     line-height: 1.4rem;
     margin: 0 auto;
     display: block;
}
 ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
}
 h1, h2, h3, h4 {
     font-family: "Neuton";
     color: #0b3555;
     font-weight: bold;
}
 h1 {
     font-size: 3.2rem;
     line-height: 3rem;
     color: #0b3555;
}
 h2 {
     font-size: 2.8rem;
     line-height: 3.5rem;
		 padding-top: 1rem;
}
 h3 {
     font-size: 1.6rem;
     line-height: 3rem;
}
 h4 {
     font-size: 1.6rem;
     line-height: 3rem;
}
p {
	   font-size: 1.2rem;
		 line-height: 1.8rem;
		 font-weight: 300;
}
.wrapper {
     max-width: 1200px;
     width:100%;
     display: flex;
     flex-direction: row;
     margin: auto;
     padding-top: 2rem;
		 padding-right: 2rem;
		 padding-left: 2rem;

}
 .dog-page-wrapper {
     max-width: 1200px;
     width:100%;
     flex-direction: row;
     margin: auto;
     padding: 2rem 1rem;
}
 .right {
     flex: 2;
     display: flex;
     flex-wrap: wrap;
     flex-direction: column;
     padding: 0 0 0 2rem;
}
 .left{
     display: flex;
     flex: 5;
     flex-wrap: wrap;
     flex-direction: row;
}
 .right img {
     height: 150px;
     width: 100%;
     object-fit: cover;
     overflow: hidden;
}
.profile-info p {
	font-size: .9rem;
	line-height: 1.4rem;
}
 .dog-profile {
     width: calc(33.333% - 20px);
     margin-bottom: 20px;
     overflow: hidden;
     box-shadow: 0 2px 3px 0 #b0b0b0;
     border-radius: 4px;
}
.dog-page-profile {
  width: calc(25% - 20px);
  margin-bottom: 20px;
  overflow: hidden;
  box-shadow: 0 2px 3px 0 #b0b0b0;
  border-radius: 4px;
}
 #block-nav ul {
     padding: 1rem 0;
}
#block-nav a {
	font-weight: 700;
}

#hero img{
    max-width: 100%;
    height: auto;
    background-position: center;
}

.read-more p {
	padding: 1rem 0 0 0;
	color: #2c9ab7;
	font-weight: 400;
}
 .button {
     background-color: #81b741;
     font-family: sans-serif;
     border: none;
     border-radius: 2px;
     color: white;
     font-weight: bold;
     padding: .5rem 4rem;
     text-decoration: none;
     text-align: center;
     font-size: 1rem;
     cursor: pointer;
     display: block;
     margin: .5rem auto;
}
 .button-grey {
     background-color: #e9e9e9;
     font-family: sans-serif;
     font-size: 3rem;
     border: none;
     border-radius: 2px;
     color: #0b3555;
     font-weight: bold;
     padding: .5rem 4rem;
     text-decoration: none;
     text-align: center;
     font-size: 1rem;
     cursor: pointer;
     display: block;
     max-width: 400px;
     padding: 8px 2rem;
     margin: 2rem auto;
}
 .cart{
   display: block;
   float: right;
	 color: white;
	 padding: 0 0 0 2rem;
}
#header .wrapper {
  display: block;
}
 .cart-icon{
     display: inline-block;
}
.logo{
  display: inline-block;
  font-size: 2rem;
}
.logo img {
  max-width: 400px;
}
 .tagline {
     font-size: 1.6rem;
		 line-height: 2rem;
     font-family: "Neuton";
     color: #81b741;
}
 .main-nav {
     font-family: "Neuton";
     font-weight: bold;
     font-size: 1.2rem;
     width: 100%;
     display: flex;
     text-decoration: none;
     align-items: center;
     background-color: #ececec;
     margin-bottom: 0;
}
 #adopt-intro img {
     height: 350px;
     width: 350px;
     object-fit: cover;
     overflow: hidden;
     padding: 0 2rem;
}
 .profiles{
     padding-top: 2rem;
     display: flex;
     flex: 1 1 100%;
     flex-flow: wrap;
     flex-direction: row;
     align-content: flex-start;
     justify-content: space-between;
}
 .dog-profile img {
     height: 150px;
     width: 100%;
     object-fit: cover;
     overflow: hidden;
}
 .dog-page-profile img {
     height: 150px;
     width: 100%;
     object-fit: cover;
     overflow: hidden;
}
 .profile-info {
     padding: 1rem;
}
 #checkout-button{
     background-color: #81b741;
     font-family: sans-serif;
     border: none;
     border-radius: 2px;
     color: white;
     font-weight: bold;
     padding: .5rem 4rem;
     text-decoration: none;
     text-align: center;
     font-size: 1rem;
     cursor: pointer;
     margin: 1rem 0;
}
 #header {
	 	 height: 500px;
		 overflow: hidden;
	 	 max-width: 100vw;
	   background-image: url(../images/header-large.jpg);
	   background-size: cover;
}

#hero {
	max-width: 100%;
	height: auto;
	object-fit: cover;
}
 .adopt-intro {
     width: 100%;
     justify-content: space-between;
     display: flex;
     flex-wrap: wrap;
}
 .adopt-intro img {
     max-width: 100%;
     height: 400px;
		 object-fit: cover;
     width: 100%;
     overflow: hidden;
}
 .intro-text {
     display: flex;
		 flex-wrap: wrap;
     height: auto;
     max-width: 100%;
     /* margin-left:2rem;
     margin-bottom: 2rem;
     padding: 0 0 4rem 0; */
}
 .intro-text p {
     flex-wrap: wrap;
     margin-top: 1rem;
}
 footer{
     padding-top: 48px;
     height: 400px;
     background-color: #0b3555;
     background-size: cover;
     color: white;
     text-decoration: none;
     text-align: center;
     font-size: 1rem;
     align-items: center;
}
 .footer-content {
     max-width: 430px;
     margin: auto;
}
 a {
     color: white;
     list-style-type: none;
     text-decoration: none;
}
 li a {
     display: block;
     padding: 1rem;
     color: #0b3555;
}
 .footer-content li a {
     color: white;
     display: block;
     padding: 0;
}

 .footer-content ul {
     padding: 16px;
     list-style-type: none;
     color: white;
     text-align: center;
     text-decoration: none;
     margin: auto;
     align-items: center;
}
 .article-intro{
     padding: 1rem;
}
 .article-intro img {
     display: block;
     float: left;
     width: 400px;
     overflow: hidden;
     padding: 1rem;
}
 .adopt-intro {
     display: inline-block;
}
 .form {
     padding: 2rem 0;
     display: block;
     max-width: 768px;
}
#submit {
     background-color: #81b741;
     font-family: sans-serif;
     border: none;
     border-radius: 2px;
     color: white;
     font-weight: bold;
     padding: .5rem 4rem;
     text-decoration: none;
     text-align: center;
     font-size: 1rem;
     cursor: pointer;
     margin: 1rem 0;
}
 button, input[type=text], input[type=email], input[type=phone], input[type=date], select, textarea {
     padding: 4px;
     display: inline-block;
     border: 1px solid #ccc;
     border-radius: 2px;
     box-sizing: border-box;
     font-family: inherit;
     font-size: inherit;
     margin: 8px 0px;
     box-sizing: border-box;
     outline: none;
     line-height: 1rem;
     width: 100%;
}
 label {
         font-family: "Neuton";
         color: #0b3555;
         font-weight: bold;
         font-size: 2rem;
         line-height: 3rem;
         padding-top: 1rem;
}
